<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rendering Dynamic Images Using Flask</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 20px;
        }

        h1 {
            color: #333;
        }

        form {
            margin: 20px;
        }

        input[type="submit"] {
            border: none;
            border-radius: 7px;
            background-color: #007BFF;
            color: #fff;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <h1>Generate Histogram</h1>

    <form action="{{ url_for('histogram') }}" method="GET">
        <input type="submit" value="Generate Histogram">
    </form>
</body>

</html>